
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Orbitron:wght@400..900&family=Rubik+Spray+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&family=Rubik+Storm&family=Silkscreen:wght@400');


body {
    background-color: black;
}

.alterarFonte {
    color: rgb(38, 75, 240);
    font-family: "Silkscreen", sans-serif;
}
